# Linear Regression

Purpose of linear regression is to predict future values of Xi without a Y value. We need to figure out which feature variable contributes the most information to predict/determine Y. With Linear regression, we can model the strength of the relationship between each dependent variable and Y. It is essentially modelling the relationship between independent feature variables and Y. 

**What's the goal?**
- The goal is to estimate the coefficients: Y = b0 + b1X + e where e is random noise. 
- Once we estimate the coefficients, you can use it to predict new values of Y. 
- How do we estimate these coefficients? Method called **least squares** is the most common. 
    - Least squares regression estimates the coefficient of a linear model equation by minimizing the difference between actual Y values and predicted Y values or otherwise known as minimising the sum of the squared residuals.

In [5]:
from sklearn.datasets import load_boston
boston = load_boston()
#boston is a dict
print(boston.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [7]:
boston.data.shape

(506, 13)

In [8]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [10]:
import pandas as pd

/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [14]:
df = pd.DataFrame(boston.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [17]:
cols = boston.feature_names
cols

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [19]:
df = pd.DataFrame(boston.data, columns= cols)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [22]:
df['PRICE'] = boston.target
df['PRICE'].head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: PRICE, dtype: float64

In [23]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [29]:
%%bash
pip3 install statsmodels

Collecting statsmodels
  Downloading https://files.pythonhosted.org/packages/c6/c8/f620ee78110170e2c4d014eed15d6436984f25f7ff71435820f5d89f478b/statsmodels-0.11.0-cp38-cp38-macosx_10_9_x86_64.whl (8.5MB)
Requirement already satisfied: pandas>=0.21 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from statsmodels) (1.0.0)
Collecting patsy>=0.5 (from statsmodels)
  Downloading https://files.pythonhosted.org/packages/ea/0c/5f61f1a3d4385d6bf83b83ea495068857ff8dfb89e74824c6e9eb63286d8/patsy-0.5.1-py2.py3-none-any.whl (231kB)
Requirement already satisfied: numpy>=1.14 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from statsmodels) (1.18.1)
Collecting scipy>=1.0 (from statsmodels)
  Downloading https://files.pythonhosted.org/packages/90/d2/44b70a930ad28da8f65d8c294ac88b20f561e5d650b85efea80381566db1/scipy-1.4.1-cp38-cp38-macosx_10_9_x86_64.whl (28.8MB)
Requirement already satisfied: python-dateutil>=2.6.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.21->statsmodels) (2019.3)
Requirement already satisfied: six in /Users/intellify/Library/Python/3.8/lib/python/site-packages (from patsy>=0.5->statsmodels) (1.14.0)
Installing collected packages: patsy, scipy, statsmodels
Successfully installed patsy-0.5.1 scipy-1.4.1 statsmodels-0.11.0

WARNING: You are using pip version 19.2.3, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [33]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [43]:
reg = ols('PRICE ~ RM', data = df).fit()

In [44]:
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.484
Model:                            OLS   Adj. R-squared:                  0.483
Method:                 Least Squares   F-statistic:                     471.8
Date:                Tue, 04 Feb 2020   Prob (F-statistic):           2.49e-74
Time:                        23:47:52   Log-Likelihood:                -1673.1
No. Observations:                 506   AIC:                             3350.
Df Residuals:                     504   BIC:                             3359.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -34.6706      2.650    -13.084      0.000     -39.877     -29.465
RM             9.1021      0.419     21.722      0.000       8.279       9.925
==============================================================================
Omnibus:                      102.585   Durbin-Watson:                   0.684
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              612.449
Skew:                           0.726   Prob(JB):                    1.02e-133
Kurtosis:                       8.190   Cond. No.                         58.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [45]:
#Coefficient of RM is 9.1
# We can interpret this as if we had a house with 4 bedrooms and another house 5 bedrooms
# The difference between these two houses will be our Y value of 9.1K
# Our confidence interval would be between 8.2K and 9.9K.

In [58]:
from sklearn.linear_model import LinearRegression
X = df.drop("PRICE", axis =1) #matrice
y = df['PRICE'] #vector
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: PRICE, dtype: float64

In [59]:
linReg = LinearRegression()
linReg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
print(f"Estimated intercept coefficients are {linReg.intercept_}")
print(f"Estimated coefficients are {linReg.coef_}")

Estimated intercept coefficients are 36.45948838509015
Estimated coefficients are [-1.08011358e-01  4.64204584e-02  2.05586264e-02  2.68673382e+00
 -1.77666112e+01  3.80986521e+00  6.92224640e-04 -1.47556685e+00
  3.06049479e-01 -1.23345939e-02 -9.52747232e-01  9.31168327e-03
 -5.24758378e-01]

In [65]:
#Creating a dataframe out of columns and estimated coefficients for each column
pd.DataFrame(zip(df.columns, linReg.coef_), columns= ['features', 'estimated_coeffs'])

   features  estimated_coeffs
0      CRIM         -0.108011
1        ZN          0.046420
2     INDUS          0.020559
3      CHAS          2.686734
4       NOX        -17.766611
5        RM          3.809865
6       AGE          0.000692
7       DIS         -1.475567
8       RAD          0.306049
9       TAX         -0.012335
10  PTRATIO         -0.952747
11        B          0.009312
12    LSTAT         -0.524758